
.container {
    width: 600px;
    margin: 20px auto;
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
    padding: 20px;
}
h1,h2,h3 {
    color: purple;
}
img {
    width: 300px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    font-weight: bold;
color: deeppink;
}
table {
    margin: 0 auto;
}

.main {
    color: dodgerblue;
    font-weight: bold;
}
table, tr, td {
    border: 2px solid darkgrey;
    padding: 5px;
    text-align: center;
}
