body {
    font-family: sans-serif;
    background-color: lightgray;
}

.container {
    width: 600px;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

h1, h2, h3{
    color: purple;
}

h1 {
    font-size: 3rem;
}

img {
    width: 300px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: deeppink;
}
table {
    margin: 0 auto;
}

th {
    background-color: white;
}

table,td,th {
    border: 2px solid darkgrey;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
}
span {
    font-weight: bold;
    color: dodgerblue;
}
.note {
    margin-top: 15px;
    padding: 2px;
    border: 2px solid gray;
    border-radius: 5px;
}
#location {
    font-family: monospace;
    color: deeppink;
    font-weight: bold;
    background-color: whitesmoke;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

